<ion-header>
		<ion-toolbar color="success">
			<ion-title>PRINTER-RUSAK.COM</ion-title>
				<ion-buttons slot="start">
			<ion-menu-button autoHide="false"></ion-menu-button>
			</ion-buttons>
		</ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/printer.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Welcome to our Shop</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Welcome to PRINTER-RUSAK.COM, in here we serve any kind of printers from the brand new one until the broken one.</p>
      </ion-card-content>
    </ion-card>
	
	  <ion-button color="success" expand="block" routerLink="/tab2" routerDirection="root" fill="outline">LOGIN</ion-button>
	  <p></p> 
	  <ion-button color="success" expand="block" routerLink="/tab3" routerDirection="root" fill="outline">PRODUCT</ion-button>
	  <!--
	  <ion-button color="success" expand="block" routerLink="/cart" routerDirection="root" fill="outline">KERANJANG</ion-button>
	  -->
</ion-content>

<ion-footer>
	<ion-toolbar color="success">
		<ion-title text-center>PRINTER-RUSAK.COM</ion-title>
	</ion-toolbar>
</ion-footer>
